.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-body {
  text-align: center;
}

.board {
  width: 90vw;
}

.card {
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.1);
  z-index: 2;
}

.card-title {
  height: 2.5rem;
}
